body{
  margin: 0;
  padding: 0;
  height: 100%;
  /*max-width: 1536px;*/
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}


.portfolio-logo{
  text-decoration: none;
}
.container{

  background-color: rgb(39, 39, 39);
 /* max-width: 1536px;*/
  width: 100%;
  position: relative;
}
.nav{
  max-width: 1536px;
  width: 100%;
  height: 85px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 10px;
  z-index: 2;
}
.main-nav{
  height: 60px;
  max-width: 1350px;
  width: 100%;
  /* background-color: rgb(39, 39, 39); */
  background-color:rgba(0, 0, 0, 0.178);
  border-radius: 50px;
  display: flex;
  
  align-items: center;
  backdrop-filter: blur(200px);
}

.main-nav-mob{
  height: 60px;
  max-width: 1350px;
  width: 100%;
  /* background-color: rgb(39, 39, 39); */
  background-color:rgba(0, 0, 0, 0.178);
  border-radius: 50px;
  display: none;
  
  align-items: center;
  backdrop-filter: blur(200px);
}
.cntnt-mob{
  height: 70px;
  width: 810px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  font-size: 14px;
  
}
.name{
  height: 50px;
  width: 500px;
  margin: 5px;
  padding-left: 30px;
  border-radius: 50px;
  /* background-color: black;  */
  display: flex;
  align-items: center; 
}
.menu{
  display: none;
}
.cntnt{
  height: 70px;
  width: 810px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  font-size: 14px;
  
}
.link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.link:hover{
  color:#01ffcc ;
  text-decoration: underline;
  text-underline-offset:5px ;
}
.landing{
  
  height: 660px;
  background-color:rgb(39, 39, 39);
  color: white;
  padding: 5px;
  margin-bottom: 0px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  
  background-image: url(images/bw2.png);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 50rem;
}

.img{
  display: flex;
  align-items: end;
  width: 500px;
  height: 600px;
  margin-top: 20px;
}

.txt{
  /* background-color: aquamarine; */
  width: 60%;
  height: 600px;
  margin: 20px 20px 20px 40px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 38px;

}
.txt1,.txt2{
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
}
.txt1{
  font-size:90px;
}
.txt2{
  font-size: 40px;
}
.txt3{
  height: 100px;
}
.cnct{
  margin-top: 50px;
  width: 300px;
  height: 50px;
  border-radius: 40px;
  background-color: #1b1a1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  background-color: aliceblue;
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;

}
.git{
  background-image: url(images/github.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
}
.linkd{
  background-image: url(images/linkdin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.8rem;
}
.gmail{
  background-image: url(images/email.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
}
.insta{
  background-image: url(images/insta.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
}
.line{
  height: 10px;
  width: 180px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 50px;
}
.abt{
  height: 730px;
  background-color: rgb(39, 39, 39);
  margin-left: 1%;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.gif{
  height: 500px;
  width: 650px;
  margin-top: 35px;
  background-image: url(images/img.gif);
  background-repeat: no-repeat;
  background-position: 99%;
  background-size: 40rem;
}
.abt-txt{
  margin-right: 20px;
  margin-left: 5%;
  width: 650px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  /* background-color: aqua; */
}
.abt-head{
  font-size: 30px;
}
.abttxt1{
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 60px;
}
.abttxt-main{
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn{
  width: 250px;
  height: 45px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  background-color:#01ffcc;
  color:black;
}
.btn:hover{
  
  background-color:#ffffff;
}


.resume-txt{
  background-color: rgb(39, 39, 39);
  height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}
.frst,.scnd{
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.res-txt-1{
  font-weight: bolder;
  font-size: 110px;
  opacity: 5%;
  color: azure;
  top: 23px;
}
.res-txt-2{
  font-weight: bolder;
  font-size: 80px;
  color: white;
}

.resume{
  margin-top: 0;  
  margin-bottom: 50px;
  height: fit-content;
  /* background-color: rgb(206, 1, 1); */
  display: flex;
  justify-content: center;
  
}
.resum-img{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(20px);
  transition: width 0.6s ease, height 0.6s ease; 
  z-index: 10;
  position: fixed;
}
.resum-img img{
  max-height: 90%;
  max-width: 95%;
  display: block;
}
.resume-cnt{
  margin-top: 0;
  width: 1300px;
  height: fit-content;
  /* background-color: rgb(42, 206, 1); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.resume-card{
  margin: 10px;
  padding-left: 40px;
  padding-top: 40px;
  background-color: rgb(27, 26, 26);
  width: 580px;
  height: 300px;
  border-radius: 20px;
  color: white;
}
.resume-card:hover{
  transform: translateY(-10px);
  background-color: #01ffcc;
  color: black;
  
}
.resume-card h1{
  margin-top:0;
  margin-bottom: 10px;
  color: #01ffcc;
  width: fit-content;
}
.resume-card:hover h1{
  color: rgb(255, 255, 255);
}
.resume-card h2{
  margin-top: 0;
  margin-bottom: 10px;
  width: fit-content;
}
.resume-card h4{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  width: fit-content;
  letter-spacing: 4px;
}
.resume-card h5{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  width: 450px;
}
.skill{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: aliceblue;
  height: 80px;
  margin-left: 110px;
  margin-right: 110px;
}
.m-skill{
  
  display: flex;
  justify-content: space-evenly;
  animation: rightTo 5s linear infinite;
}
@keyframes rightTo{
  0%{
    transform:translateX(0);
  }
 
  100%{
    transform:translateX(-100%);
  }
}
.m-skill img{
  margin-right: 50px;
  height: 60px;
  width: 60px;
  position: relative;
  
}

.skill-cnt{
  height: 500px;
  width: 1300px;
  margin-left: 110px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.sil-hd{
  height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: #272727;
  border-radius: 20px;
}
.skill-card{
  margin: 20px ;
  background-color: rgb(27, 26, 26);
  width: 350px;
  height: 280px;
  border-radius: 20px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}
.skill-cnt::-webkit-scrollbar{
  display: none;
}
.skill-card img{
  height: 35px;
  margin-right: 20px;
  
}
.skill-name{
  color: #ffffff;
  font-size: 20px;
}
.project{
  margin-left: 110px;
  margin-right: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(max-width:768px){
 
  .cntnt{
    display: none;
    
  }
  .circle{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-color: #ffffff;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
  }
  
  .circle a{
    margin-top: 5px;
  }
  .circle:active{
    background-color: #01ffcc;
  }
  .main-nav-mob{
    display: flex;
  }
  .main-nav,.main-nav-mob{
    display:flex ;
    justify-content: center;
   position: sticky !important;
   top: 10px;
   z-index: 90;
    width: 90%;
    margin: 0px 20px 0px 20px;
  }
  .name{
    font-size: 13px;
    width: 37%;
    
  }
  .menu{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 3px;
  }
  
  
  .landing{
    height: 400px;
    background-image: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column-reverse;
  }
  .img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    border-radius: 100px;
    border: 3px solid #01ffcc;
    background-image: url(images/img1.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 8rem;
  }
  .line{
    visibility: hidden;
  }
  .txt{
    width: 100%;
    margin: 0;
    margin-top: -40px;
    height: 300px;
    display: flex;
    align-items: center;
    
    
  }
  .txt1,.txt2{
    margin-top: 0;
    margin-bottom: 15px;
    width: fit-content;
    font-size: 35px;
    
  } 
  .gif{
    display: none;
  }
  .abt{
    width: 100%;
    margin-left: 0;
    align-items: flex-start;
    height: 500px;
    
  }
  .abt-txt{
    align-items: center;
    height: 500px;
  }
  .abt-head{
    font-size: 20px;
  }
  .abttxt1{
    font-size: 30px ;
  }
  .abttxt2{
    font-weight: 300;
  }
  .btn{
    height: 40px;
  }
  .resume-txt{
    height: 100px;
  }
  .res-txt-1{
  font-size: 60px;
  }
  .res-txt-2{
    font-size: 50px;
  }
  .resume{
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .resume-card{
    width: 350px;
    height: 220px;
    padding-left: 15px;
    padding-top: 15px;
    
  }
  .resume-card h1{
    font-size: 20px;
  }
  .resume-card h2{
    font-size: 15px;
  }
  .resume-card h4{
    font-size: 13px;
    
  }
  .resume-card h5{
    font-size: 15px;
    width: 350px;
  }
  .project{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }
  .skill-cnt{
    margin-left: 0;
    height: 320px;
    width: 412px;
  }
  .skill-card{
    height: 230px;
    margin-left: 30px;
  }
  .sil-hd{
    margin-top: 20px;
    height: 40px;
  }
  .skill-card img{
    height: 25px;
  }
  .skill-name{
    font-size: 18px;
  }
  }