.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}



body{
  /*width: 100%;*/
  margin: 0;
  padding: 0;
}
.container-fluid{
  background-color: rgb(233, 54, 54);
  height: 100%;
}
.nav{
  max-width: 1536px;
  width: 100%;
  height: 75px;
  position: sticky;
  top: 10px;
}
.main-nav{
  height: 55px;
  max-width: 1350px;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.178);
  border-radius: 50px;
  backdrop-filter: blur(200px);
}
.name{
  height: 50px;
  width: 37%;
  margin: 5px;
  padding-left: 30px;
  border-radius: 50px;
}
.cntnt{
  height: 50px;
  width: 60%;
  /* background-color: aquamarine; */ 
}
.link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.link h3{
  font-size: 18px;
}
.link:hover{
  color:#01ffcc ;
  text-decoration: underline;
  text-underline-offset:5px ;
}
@media(max-width:768px){
  .nav{
    visibility: hidden;
  }
}

 
}